NET "CLK14M"	LOC = "C10"	| CLOCK_DEDICATED_ROUTE = FALSE | IOSTANDARD = LVCMOS33;
NET "CREF"		LOC = "T3"	| IOSTANDARD = LVCMOS33;
NET "nPRAS"		LOC = "E10"	| IOSTANDARD = LVCMOS33;
NET "nLDPS"		LOC = "N11"	| IOSTANDARD = LVCMOS33;
NET "VIDD7"		LOC = "C11"	| IOSTANDARD = LVCMOS33;
NET "nSEROUT"	LOC = "P10"	| IOSTANDARD = LVCMOS33;
NET "nWNDW"		LOC = "D11"	| IOSTANDARD = LVCMOS33;
NET "nSYNC"		LOC = "R10"	| IOSTANDARD = LVCMOS33;
NET "TEXT"		LOC = "C12"	| IOSTANDARD = LVCMOS33;
NET "SEGB"		LOC = "T7"	| IOSTANDARD = LVCMOS33;
NET "GR"			LOC = "D12"	| IOSTANDARD = LVCMOS33;

NET "nSYNCOUT"	LOC = "E6"	| IOSTANDARD = LVCMOS33;
NET "RED<0>"	LOC = "D5"	| IOSTANDARD = LVCMOS33;
NET "RED<1>"	LOC = "C5"	| IOSTANDARD = LVCMOS33;
NET "GREEN<0>"	LOC = "D6"	| IOSTANDARD = LVCMOS33;
NET "GREEN<1>"	LOC = "C6"	| IOSTANDARD = LVCMOS33;
NET "BLUE<0>"	LOC = "E7"	| IOSTANDARD = LVCMOS33;
NET "BLUE<1>"	LOC = "C7"	| IOSTANDARD = LVCMOS33;

NET "VGA_R"		LOC = "R12"	| IOSTANDARD = LVCMOS33;
NET "VGA_G"		LOC = "T12"	| IOSTANDARD = LVCMOS33;
NET "VGA_B"		LOC = "R11"	| IOSTANDARD = LVCMOS33;
NET "VGA_HS"	LOC = "R9"	| IOSTANDARD = LVCMOS33;
NET "VGA_VS"	LOC = "T10"	| IOSTANDARD = LVCMOS33;
#NET "VGA_HS"	LOC = "D8"	| IOSTANDARD = LVCMOS33;
#NET "VGA_VS"	LOC = "C9"	| IOSTANDARD = LVCMOS33;
